body {
    font-family: sans-serif;
    background-color: #e5e5e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 300px;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 15px;
    padding: 15px;
    background-color: #ffffff;
    overflow-y: scroll;
}

.app::-webkit-scrollbar {
    width: 0 !important;
}

#addNew {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.fa-plus {
    background-color: #abcea1;
    padding: 4px;
    border-radius: 5px;
}

#tasks {
    display: grid;
    gap: 15px;
}

#tasks div {
    display: grid;
    gap: 4px;
    background-color: #e2eede;
    border: 3px solid #abcea1;
    border-radius: 8px;
    padding: 5px;
}

.options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

.options i {
    cursor: pointer;
}

#errorMsg {
    color: red;
}