* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

body {
    min-height: 100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom, #4568dc, #b06ab3);
}

.quote-box {
    padding: 3rem;
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.text {
    font-size: 30px;
    padding: 0px 10px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8); */
    color: #ffffff;
    -webkit-background-clip: text;
}

.quote {
    transition: 0.5s;
    transition-timing-function: ease-in;
}

/* .quote i{
    color: #ffffff;
} */

.new-quote {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 15px;
    /* background-image: linear-gradient(to right bottom, #1746e0, #b06ab3); */
    color: #ffffff;
    background-color: #db11d9;
}

.text-center {
    text-align: center;
}

.new-quote:hover {
    /* opacity: 0.6; */
    color: #ffffff;
    background-color: #f503f1;
}

.author {
    margin: 10px;
    font-size: 20px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Open Sans Condensed', sans-serif;
    /* background-image: linear-gradient(to right bottom, #28313B, #485461); */
    color: #ffffff;
    -webkit-background-clip: text;
}


p {
    margin-top: 5px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 21.5%;
}

.block {
    perspective: 150rem;
    position: absolute;
    top: 25%;
    left: 27%;
}

.block__main {
    min-width: 45vw;
    position: absolute;
    transition: all .8s ease;
    backface-visibility: hidden;
    /* box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15); */
    box-shadow: 15px 15px 35px -10px #202020;
    border-radius: 1rem;
    background-image: linear-gradient(to right bottom, #da04e3, #0a42fb85);
}

.block__back {
    transform: rotateY(180deg);
}

.rotateF {
    transform: rotateY(-180deg);
}

.rotateB {
    transform: rotateY(0deg);
}